.sd-actions {    
    overflow: hidden;    
    bottom: 0;  
    position: fixed;
    right: 0;    
    width: 100%;    
    border-top: 1px solid #dceef1;
   
    .toolbar {
        height: 50px;                     
        padding-right: 10px;
        background-color: whitesmoke;
        > * {
            text-transform: uppercase;
        }
    }
}
