
@import '~@angular/material/theming';
@include mat-core();
$light-primary-text: white;
$dark-primary-text: rgb(0,127,163);
$dark-secondary-text: rgba(0,127,163, 0.7);
$dark-disabled-text: rgba(0,127,163, 0.5);
$dark-focused: rgba(0,127,163, 0.12);
$dark-dividers: rgba(0,127,163, 0.12);


$mat-custom-palette: (
    50: #ECF3F5,
    100: #D9E8EB,
    200: #C6DDE1,
    300: #8BB5C1,
    400: #73A6B5,
    500: #5C97A9,
    600: #3eb1c8, // Normal
    700: #369cb0, // focus or hover
    800: #007fa3, //Actual On Press
    900: #22606C,
    A100: #7bdffd,
    A200: #4ad3fd,
    A400: #01c1fc,
    A700: #00a0d1,
    contrast: (
        50: $dark-primary-text,
        200: $dark-primary-text,
        100: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $light-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

// Background palette for dark themes.
$mat-custom-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-custom-palette, 800),
  background: map_get($mat-custom-palette, 50),
  hover:      rgba(black, 0.04), 
  card:      white,
  dialog:     white,
  disabled-button:  rgba(0, 0, 0, 0.12),
  raised-button: map-get($mat-custom-palette, 800),
  focused-button: $dark-focused,
  selected-button: map_get($mat-custom-palette, 900),
  selected-disabled-button: map_get($mat-custom-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-custom-palette, 700),
  disabled-list-option: black,
);

// Foreground palette for dark themes.
$mat-custom-theme-foreground: (
    base:             rgb(0,127,163),
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba(0, 0, 0, 0.26),
    disabled-text:     $dark-disabled-text,
    hint-text:         $dark-disabled-text,
    secondary-text:    $dark-secondary-text,
    icon:              rgba(rgb(0,127,163), 0.54),
    icons:             rgba(rgb(0,127,163), 0.54),
    text:              #007fa3,
    slider-min:        rgba(rgb(0,127,163), 0.87),
    slider-off:        rgba(rgb(0,127,163), 0.26),
    slider-off-active: rgba(rgb(0,127,163), 0.38),
);


// Creates a container object for a dark theme to be given to individual component theme mixins.
@function mat-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
    @return (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      is-dark: true,
      foreground: $mat-custom-theme-foreground,
      background: $mat-custom-theme-background,
    );
  }


$primary: mat-palette($mat-custom-palette, 800);
$secondary: mat-palette($mat-custom-palette, 700);
$accent:  mat-palette($mat-custom-palette, 400);
$warn: mat-palette($mat-red);

$theme: mat-custom-theme($primary, $accent, $warn);
@include angular-material-theme($theme);