<mat-toolbar class="sd-toolbar mat-elevation-z3" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="toolbar-options" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button mat-icon-button (click)="toggleSidNav()">
      <em class="material-icons">menu</em>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <em class="material-icons">account_circle</em>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logOut()">LogOut</button>
    </mat-menu>
  </div>
</mat-toolbar>
