$sd-toolbar-height: 50px;

.sd-toolbar {
    height: $sd-toolbar-height;    
    position: fixed;   

    .toolbar-options > * {        
        text-transform: uppercase !important;    
        font-size: 11px;
    }

    .active {        
        border-bottom:2px solid white;
        background-color: rgba(255, 255, 255, 0.082);         
    }

    .user-name {
        text-transform: capitalize;
    }
}