.sd-sidenav {
    height: 100%; 
    width: 0%; 
    position: fixed;    
    top: 88px;  
    background-color: whitesmoke;
    overflow-x: hidden; 
    transition: 0.5s;    
    border-right: 1px solid #dceef1;    
    
    > * {
        width: 100%;        
    }     
}
