<!--The content below is only a placeholder and can be replaced.-->
<div id="appContainer" fxLayout="column" class="mat-typography">
  <sd-toolbar></sd-toolbar>
  <sd-progress-bar></sd-progress-bar>  
  <sd-breadcrumb></sd-breadcrumb>
  <sd-sidenav></sd-sidenav>  
  <sd-content-container></sd-content-container>  
</div>

