.breadcrumb {
    height: 30px;
    padding: 20px;    
    font-size: .9em; 
    position: fixed;
    top: 47px;  
    width: 100%;
    border-bottom: 1px solid #dceef1;


    .dashboard {
        color: gray;
    }

    a {
        font-size: .9em;
        text-decoration: none;
        color: #2e8394;
    }
}