<div id="sd-breadcrumb" class="breadcrumb" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <div>You are here:</div>
  <span>&raquo;</span>
  <div *ngFor="let breadcrumb of breadcrumbs; index as i" fxLayout="row" fxLayoutAlign="start center">
    <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
    <span *ngIf="(i + 1) !== breadcrumbs.length">&raquo;</span>
  </div>
</div>
